@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url("../src/shared/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

.container {
  width: 100%;
  max-width: 1340px;
}

@theme {
  --color-text-primary: #fff;
}
